[Unit]
Description=Project Bluefin anonymous weekly telemetry report
Documentation=https://docs.projectbluefin.io/analytics
After=network-online.target
Wants=network-online.target
ConditionPathExists=/run/ostree-booted
ConditionPathExists=!/etc/projectbluefin/countme/disabled
ConditionPathExists=!/etc/bluefin-countme-opt-out
ConditionPathExists=!/etc/dakota-countme/disabled

[Service]
Type=oneshot
ExecStart=/usr/libexec/bluefin-countme
DynamicUser=yes
StateDirectory=bluefin-countme
